@import "reset.css";





@mixin test {
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    
}





 .tests{
    background: green;
    display: block;
    width: 750px;
    height: 100px;
    justify-content: center;
    text-align: center;
    
    
    h1{
        color: blue;
        @include test
    }
    p{
        color: white;
        padding-top: 20px;
        @include test
    }
}

.features{
    display: flex;
    margin-top: 60px;
    border: solid 4px cyan;
    border-radius: 10px;
    background-color: green;
}img{
    padding-right: 20px;
    padding: 15px;
    border-radius: 10px;
}p{
    padding: 15px;
}